footer {
    color: white;

}

.cardRedes {
    height: 15vh;
    background-color: #005695;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;


}

nav {
    display: flex;
    justify-content: space-around;
    width: 15vw;
}

.cardTexto {
    height: 10vh;
    background-color: #232020;
    color: white;
    text-align: center;
    padding-top: 1.2rem;
}

@media(max-width:400px) {
    .cardRedes {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-left: 2rem;
        text-align: center;

        nav {
            justify-content: space-around;
            width: 100%;
        }

    }

    .cardTexto {
        font-size: 0.8rem;
    }

}